body {
  background-image: url("b1.jpg");
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;

}

.boxed {
  border: 1px solid lightgrey;
  background-color: antiquewhite;
}

.titlea {
  text-align: center;
}

.abouttext{
   font-size: 18px;
}

.img2{
 padding: 0 6px;
  float: right;
}

.img{
padding: 0 6px;
float: left;
}

.bg-steel {
  background-color: sandybrown;
  background-color: #993333
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: antiquewhite;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.calendar
{
    background-color: grey;
    padding: 20px;
    border: solid 1px #ddd;
}

.calendar .calendar-filters{
    display:flex;
}

.calendar .calendar-filters > div
{
    flex: 1 1 0;
}

.calendar .calendar-filters .filter-label{
    padding: 5px 10px;
    text-align:center;
    font-weight:bold;
    background:black;
    color:white;
}

.calendar .dropdown
{
    display: none;
    position: absolute;
    background-color: #fff;
    color: #1caff6;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 160px;
    left: 0px;
    z-index: 2000;
    border:solid 1px #ccc;
}

.calendar .dropdown .dropdown-item
{
    cursor:pointer;
    opacity: .7;
    transition: .5s opacity;
    font-size:10pt;
    padding:5px;
}

.calendar .dropdown .dropdown-item:hover
{
    opacity: 1;
}

.calendar .years
{
    display:none;
}

.calendar .title
{
    text-align:center;
    font-size:20pt;
}

.calendar .calendar-btn, .btn-calendar
{
    float: left;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 20%;
    cursor: pointer;
    transition: .5s background-color;
}

.calendar .calendar-btn:hover{
    background-color:#ddd;
}

.calendar .year-btn, .btn-year
{
    float:right;
}

.calendar .calendar-dates .days .day
{
    float:left;
    width: calc(100% / 7);
    padding: 1%;
    font-size:13pt;
    text-align:center;
    border: solid 1px #eee;
}

.calendar .calendar-dates .days .day.blank
{
    background-color: white;
    border:none;
}

.calendar .calendar-dates .days .day.selected
{
    background-color: #111;
    color: white;
    cursor:pointer;
    opacity: .5;
    transition: .5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover
{
    opacity: 1;
}

.calendar .calendar-dates .days .day.label
{
    height: 40px;
    background-color: white;
    color: black;
    border:none;
}

@media only screen and (max-width: 960px) {
    .calendar{
        width: 100%;
        margin: 0px;
        margin: 0px;
        box-sizing: border-box;
        position: relative;
        left: 0px;
    }
}
/* [PERIOD SELECTOR] */
#cal-date {
  margin: 10px 0;
}
#cal-mth, #cal-yr, #cal-set {
  padding: 10px;
  font-size: 1.2em;
  border: 0;
  background: #ea4c4c;
  color: #fff;
}

/* [CALENDAR] */
#calendar {
  width: 100%;
  border-collapse: collapse;
  margin-top:30px;
}
#calendar tr.head1 td {
  font-weight: bold;
  color: #fff;
  background: #f37070;
  padding: 10px 5px;
  padding-right:0;

}
#calendar tr.day td {
  border: 1px solid #ddd;
  padding: 10px 5px;
  vertical-align: top;
}
#calendar tr.day td:hover {
  background: #fff9e4;
}
#calendar tr td.blank {
  background: #f5f5f5;
}
#calendar .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

/* [ADD/EDIT EVENT] */
#cal-event form {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}
#evt-date {
  color: #999;
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  box-sizing: padding-box;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  resize: none;
}
#cal-event input[type=button], #cal-event input[type=submit] {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #ea4c4c;
  color: #fff;
}

