{% extends "layout.html" %}

{% block content %}

    <div class="boxed">
        <h1 class="titlea">About our blog !!</h1>
       <img src="/static/illustration.png" alt="Joy of writing" width="350" height="195">
        <img src="/static/ill2.png" alt="" width="350" height="195" class="img2">
        <p class="abouttext"> This blog started with 4 people thinkig about a better virtual place for people to share their ideas, their love for journalism or simply people who liked writing.
         The 4 of us created a blog that we would like to write in, with a minimalist design, to avoid sore eyes. Moreover, we thought about this:
         deadlines are always a pain, we should have a pocket calendar in our eyes all the time to avoid forgetting about them and we should have all of
         our work in one place, on an account where we can save it and edit it anytime we want.




        </p>
</div>



{% endblock content %}
